* {
    margin: 0;
    padding: 0;
}

#head {
    margin: 0;
    padding: 0;
}

#title {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 36px;
    background-color: rgb(202, 201, 201);
    align-items: center;
    justify-content: center;
    
    
}

td{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    padding: 10px;
 


}

#table-center{
    margin: 0 auto;
    margin-top: 10rem;
     display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    margin: 0 auto;
    margin-top: 6rem;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg {
    text-align: center;
    margin: auto;
  
}
